p{
    position: static; /* fixed to the viewport */
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid red;
}

body > p{/* direct child selector "body>p"*/
    background-color: lightgray;
    color: darkblue;
    text-align: center;
}

#box{
    width: 150px;
    height: 100px;
    background-color: lightgreen;
    border: 2px solid green;
    position: relative; /* relative to its normal position */
    top: 20px; /* move down 20px */
    left: 30px; /* move right 30px */
}

#long{
    background-color: lightcoral;
}