*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.header{
    position: relative;
    background-color: #ffcc00;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    /*font-size: 20px;*/
}

.header-content h1{
    font-size: 2.5em;
    margin-bottom: 8px;
}

.header-content p{
    font-size: 1.1rem;
    margin: 5px 0 0;
}

/* the buttons container (buttom right)*/
.header-button{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.header-button button{
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}
.header-button button:hover{
    background-color: #4caf50;
}


.party-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.chef-task,
.Delivery-task,
.Decor-task{
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.chef-task{
    background-color: #ffe0b3;
}
.Delivery-task{
    background-color: #b3e0ff;
}
.Decor-task{
    background-color: #d1b3ff;
}


.pizza-flex-container,
.delivery-flex-container,
.decor-flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
}

.pizza-card,
.delivey-card,
.decor-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.pizza-card i,
.delivey-card i,
.decor-card i{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff5722;
}

.pizza-card{
    color: #ff5722;
}
.delivey-card i{
    color: #4caf50;
}
.decor-card i{
    color: #9c27b0;
}
.delivey-card{
    color: #4caf50;

}

h2{
    margin-bottom: 20px;
    /*font-size: 2em;*/
    text-align: center;
    color: white;
}

p{
    font-size: 10%;
    color: #555;
}

h3{
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
    text-size-adjust: 20%;
}