

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 1400% 1400%;
    animation: rainbow 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
  }

    @keyframes rainbow {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }